.limited-width-container {
  max-width: 1200px; 
  margin: 0 auto;
  padding: 0 20px;
}

.home-container {
  font-family: 'Roboto Mono', monospace; 
}

.banner {
  position: relative;
}

.carousel .slide {
  position: relative;
}

.carousel-image {
  width: 100%;
  height: 700px; 
  object-fit: cover; 
}

.carousel-slide {
  position: relative;
}

.carousel-slide::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0); 
  padding: 20px;
  border-radius: 5px;
  color: #fff; 
  max-width: 600px;
  z-index: 2; 
}

.banner-content h1 {
  font-family: 'Poppins', sans-serif; 
  font-size: 60px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
}

.banner-content p {
  font-size: 25px;
  margin: 10px 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
}

.custom-button {
  font-size: 18px;
  background: #f0c040;
  border: none;
  padding: 10px 20px; /* Ajusta el tamaño del botón */
  color: #000;
  cursor: pointer;
  border-radius: 30px;
  transition: background-color 0.3s ease;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}

.custom-button:hover {
  background: #e0b030;
}

.title-Reseña {
  font-size: 18px;
  margin-bottom: 20px;
  color: #232323;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.divider {
  border: none;
  height: 2px;
  background-color: #000000; 
  width: auto; 
  margin: 10px auto; 
}

.customer-carousel-section {
  padding: 60px 20px;
  background: #fff;
}

.customer-carousel .react-multi-carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.customer-carousel .react-multi-carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.16);
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  font-size: 1.5em;
}

.customer-carousel .react-multi-carousel-arrow--left {
  left: -50px;
}

.customer-carousel .react-multi-carousel-arrow--right {
  right: -50px;
}

.customer-carousel-item .image-container {
  position: relative;
  width: 250px; /* Establece el ancho fijo */
  height: 400px; /* Establece la altura fija */
}

.customer-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
  transition: opacity 0.3s ease;
}

.customer-carousel-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(211, 240, 230, 0.391);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #575656;
  font-size: 1.5em;
  text-align: center;
  transition: opacity 0.3s ease;
  border-radius: 3px;
  padding: 20px;
  box-sizing: border-box;
}

.customer-carousel-item:hover .customer-image {
  opacity: 0.3;
}

.customer-carousel-item:hover .overlay {
  opacity: 1;
}

.products-section {
  padding: 40px 20px;
  background: linear-gradient(to right, #fff 0%, #cff4ac 50%, #fff 100%);
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.product-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.product-item {
  position: relative;
  background: #fff;
  border-radius: 15px;
  text-align: center;
  padding: 20px;
  margin: 10px;
  width: 180px;
  transition: transform 0.3s ease;
  background-size: cover;
  background-position: center;
}

.product-item img {
  width: 100%;
  height: auto;
  max-height: 250px;
  display: block;
  margin: 0 auto;
}

.product-item button {
  margin-top: 10px;
  padding: 5px;
  border-radius: 30px;
  color: #fff;
}

.product-item:hover {
  transform: scale(1.20);
}

.title-about-us {
  text-align: center;
  font-family: 'Poppins', sans-serif; 
  font-size: 25px;
  margin-bottom: 20px;
  color: #232323;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  background: linear-gradient(to right, #fff 0%, #bcf1e3 50%, #fff 100%);
}

.about-us-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px 20px;
  background-color: #fff;
  text-align: center;
}

.about-us-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.about-us-text {
  max-width: 600px;
}

.about-us-image {
  width: 290px;
  height: 300px;
  border-radius: 50%; 
  object-fit: cover; 
}

.about-us-text h3 {
  font-family: 'Poppins', sans-serif; 
  font-size: 1.8em;
  margin-bottom: 10px;
  color: #2F2F2F;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.about-us-text p {
  font-size: 1.1em;
  line-height: 1.6;
  color: #2F2F2F;
  text-align: justify;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Logo section */
.logo-section {
  display: flex;
  align-items: center;
  padding: 40px 20px;
  background: #fff;
  text-align: center;
}

.logo-image {
  width: 400px;
  height: auto;
  margin: 0 auto;
}

.logo-text {
  flex: 1;
  padding-left: 20px;
  max-width: 600px;
}

.logo-text h2 {
  font-family: 'Poppins', sans-serif; 
  font-size: 3em;
  margin: 0;
  margin-right: 90px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); 
}

.logo-text p {
  font-size: 1.2em;
  margin-top: 10px;
  text-align: justify;
  margin-right: 90px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Banner section */
.banner-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin: 40px 0;
  flex-wrap: wrap;
  gap: 60px; 
  margin-left: 100px;
}

.banner-image {
  width: 250px;
  height: auto;
}

/* Custom button colors */
.bg-yellow {
  background-color: #d8b39c;
}

.bg-blue {
  background-color: #8ddf8f;
}

.bg-red {
  background-color: #f4bf62;
}

.bg-purple {
  background-color: #f8d983;
}

.bg-orange {
  background-color: #f6925f;
}

/* Custom card colors */
.bg-light-green {
  background-color: #fce0cfba;
}

.bg-light-blue {
  background-color: #dfffe0;
}

.bg-light-red {
  background-color: #f4d7a691;
}

.bg-light-purple {
  background-color: #f8f8af;
}

.bg-light-orange {
  background-color: #ffe0d0;
}

.modal-enter {
  opacity: 0;
  transform: translateY(-50px);
}

.modal-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.modal-exit {
  opacity: 1;
  transform: translateY(0);
}

.modal-exit-active {
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 300ms, transform 300ms;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  width: 70%;
  text-align: center;
  position: relative;
}

.modal-content img {
  max-width: 60%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px; /* Añade un margen inferior para separar la imagen del botón */
}

.modal-content h2 {
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}

.modal-content p {
  margin-top: 10px;
  font-family: 'Roboto Mono', monospace;
  text-align: justify;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}

.modal-content button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background: #96ef98;
  color: #000;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

/* FAQ section */
.faq-section {
  padding: 60px 20px;
  background: linear-gradient(to right, #fff 0%, #c9f8e4 50%, #fff 100%);
}

.faq-item {
  margin-bottom: 20px;
}

.faq-item h3 {
  font-size: 18px;
  color: #2F2F2F;
}

.faq-item p {
  font-size: 15px;
  color: #727272;
}

/* Lead capture section */
.lead-capture-section {
  padding: 60px 20px;
  text-align: center;
}

.lead-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}

.lead-form .submit-button {
  font-size: 16px;
  background: #7aeace;
  border: none;
  padding: 8px 16px;
  color: #000;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  width: auto; 
  align-self: center;
}

.lead-form .submit-button:hover {
  background: #69c6af;
}


.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 5px;
  font-size: 16px;
  color: #2F2F2F;
}

.form-group input,
.form-group textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group textarea {
  resize: vertical;
}

.error {
  border-color: #ff0000;
}

.error-text {
  color: #ff0000;
  font-size: 14px;
  margin-top: 5px;
}

/* Contact bubble */
.contact-bubble {
  position: fixed;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  background-size: cover;
  background-position: center;
  color: #000;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.441);
  z-index: 1000;
  animation: pulse 2s infinite;
}

.contact-bubble.expanded {
  background: #a1eec984;
  width: 250px;
  height: auto;
  border-radius: 15px;
}

.contact-bubble-content {
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-bubble-content p {
  margin: 10px 0;
}

.contact-bubble-content a {
  text-decoration: none;
  color: inherit;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.contact-bubble-content p {
  margin: 10px;
}

/* CSS */
.section-pet {
  text-align: center;
  margin-top: 40px;
}

.pet-friendly-section {
  margin-top: 20px;
}

.pet-friendly-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.pet-friendly-text-container {
  flex: 1;
  max-width: 600px;
  padding-right: 20px;
}

.pet-friendly-text {
  margin-bottom: 20px;
  font-size: 1.2em;
  text-align: justify;
}

.pet-friendly-image-container {
  flex: 1;
  max-width: 400px;
}

.pet-friendly-image {
  width: 300px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}
