.home-container {
  font-family: Arial, sans-serif;
}

.banner {
  position: relative;
}

.carousel .slide {
  position: relative;
}

.carousel-image {
  width: 100%;
  height: 700px; 
  object-fit: cover; 
}

.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 1.5em;
  z-index: 10;
}

.carousel-arrow-prev {
  left: 20px;
}

.carousel-arrow-next {
  right: 20px;
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0);
  padding: 20px;
  border-radius: 5px;
  color: #0b6f42;
  max-width: 300px;
}

.banner-content h1 {
  font-size: 40px;
}

.banner-content p {
  font-size: 25px;
  margin: 10px 0;
}

.custom-button {
  background: #f0c040;
  border: none;
  padding: 10px 20px;
  color: #000;
  cursor: pointer;
  border-radius: 30px;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background: #e0b030;
}

.products-section {
  padding: 40px 20px;
  background: linear-gradient(to right, #eaf5e0, #fff);
  text-align: center;
}

.product-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.product-item {
  position: relative;
  background: #fff;
  border-radius: 15px;
  text-align: center;
  padding: 20px;
  margin: 10px;
  width: 200px;
  transition: transform 0.3s ease;
  background-size: cover;
  background-position: center;
}

.product-item img {
  width: 200px;  
  height: 250px;
}

.product-item button {
  margin-top: 10px;
  padding: 5px;
  border-radius: 30px;
  color: #fff;
}

.product-item:hover {
  transform: scale(1.20);
}

.about-us-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 20px;
  background-color: #fff;
  text-align: center;
}

.about-us-bottom {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-us-text {
  max-width: 800px;
  margin: 0 auto;
}

.about-us-text h3 {
  font-size: 1.8em;
  margin-bottom: 10px;
  color: #2F2F2F;
}

.about-us-text p {
  font-size: 1.1em;
  line-height: 1.6;
  color: #2F2F2F;
  text-align: justify;
}

.section-title {
  font-size: 2em;
  margin-bottom: 20px;
  color: #2F2F2F;
}

/* Logo section */
.logo-section {
  display: flex;
  align-items: center;
  padding: 40px 20px;
  background: linear-gradient(to right, #C1EDA9, #fff);
  text-align: center;
}

.logo-image {
  width: 400px;
  height: auto;
  margin: 0 auto;
}

.logo-text {
  flex: 1;
  padding-left: 20px;
}

.logo-text h2 {
  font-size: 2em;
  margin: 0;
}

.logo-text p {
  font-size: 1.2em;
  margin-top: 10px;
}

/* Banner section */
.banner-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin: 40px 0;
}

.banner-image {
  width: 750px;
  height: auto; /* Mantén la proporción de la imagen */
}

/* Custom button colors */
.bg-yellow {
  background-color: #d8b39c;
}

.bg-blue {
  background-color: #8ddf8f;
}

.bg-red {
  background-color: #f4bf62;
}

.bg-purple {
  background-color: #f8d983;
}

.bg-orange {
  background-color: #f6925f;
}

/* Custom card colors */
.bg-light-green {
  background-color: #fce0cfba;
}

.bg-light-blue {
  background-color: #dfffe0;
}

.bg-light-red {
  background-color: #f4d7a691;
}

.bg-light-purple {
  background-color: #f8f8af;
}

.bg-light-orange {
  background-color: #ffe0d0;
}