.footer {
  background-color: #e0fbed;
  padding: 40px 20px;
  text-align: center;
  color: #2F2F2F;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.footer-logo img {
  max-width: 100px;
  margin-bottom: 20px;
}

.footer-sections {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.footer-section {
  max-width: 250px; /* Increase the width to make the sections less crowded */
  margin: 20px;
  text-align: left;
}

.footer-section h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.footer-section p {
  margin: 5px 0; /* Adjust the margins for better spacing */
}

.footer-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

.footer-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-icon a {
  color: #2F2F2F;
  transition: color 0.3s ease;
}

.footer-icon a:hover {
  color: #229e9e;
}

.footer-icon p {
  margin-top: 5px;
  font-size: 0.9em;
}

.payment-icons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.payment-visa,
.payment-master {
  width: 60px;
  height: 20px;
}

.payment-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.newsletter-form {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.newsletter-form input {
  padding: 10px;
  border: none;
  border-radius: 25px 0 0 25px; /* More rounded corners */
  outline: none;
}

.newsletter-form button {
  padding: 10px 20px;
  background-color: #229e9e;
  color: white;
  border: none;
  border-radius: 0 25px 25px 0; /* More rounded corners */
  cursor: pointer;
}

.footer-bottom {
  margin-top: 20px;
}

.section-title {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}

.form-g input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 25px; /* More rounded corners */
}

.form-group .error {
  border-color: red;
}

.error-text {
  color: red;
  font-size: 0.8em;
  margin-top: 5px;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}

.submit-b {
  padding: 8px 15px; 
  background-color: #229e9e;
  color: white;
  border: none;
  border-radius: 25px; 
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-b:hover {
  background-color: #1a7a7a;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.modal-content h2 {
  margin-bottom: 20px;
}

.modal-content img {
  max-width: 100px;
  margin-bottom: 20px;
}

.modal-content button {
  padding: 10px 20px;
  background-color: #229e9e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: #1a7a7a;
}
